/* font family */
p {
  font-family: "Arial";
}

h1 {
  font-family: Georgia;
}


/* font size */
body {
  font-size: 10px;
}
h1 {
  font-size: 5em; /* 5 * 10px = 50px */
}
span {
  font-size: .5em; /* .5 * 10px = 5px */
}


/* font weight */
p {
  font-weight: normal;
}
p {
  font-weight: bold;
}
p {
  font-weight: 800; /* ranges from 100-800 (weakest to boldest) */
}


/* line-height */
p {
  line-height: 2.0;
}


/* text align */
h1 {
  text-align: right;
}
p {
  text-align: center;
}


/* text-decoration */
p {
text-decoration: underline;
}

h1 {
  text-decoration: line-through;
}
