/*border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50
font: source sans pro
*/

body {
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  font-family: Source Sans Pro;
  font-size: 16px;

}

.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.date {
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.post {
  margin-bottom: 20px;
}

h2 {
  color: #2c3e50;
  font-size: 2.0rem;
}

hr {
  border-bottom: 1px solid #bdc3c7;
  height: 1px;
}
