<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<!-- NOTE: do not add = sign (i.e. <%= %>) for logic  -->
<% if(thingVar.toLowerCase() === "bailey")
{ %>
  <p>Good choice! Bailey is the best!</p>
<% } %>


<p>p.s. this is the love.ejs file</p>
